/* - Используйте `px` для задания точных размеров элементов. */
.box1
{
    /* Без "font-size:" мы не сможем пользоваться командой "em" */
    font-size: 100px;
    width: 100px;
    height: 100px;
    /* RGB */
    background-color: rgb(140, 184, 184);
}
/* - Примените `em` для задания относительных 
размеров шрифта внутри контейнера. */
.box
{
    width: 1em;
    height: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
}
/* я сделал чтобы половина контейнера был черным */


/* - Используйте `rem` для задания размеров
 относительно корневого элемента (`html`). */
html
{
    font-size: 16px;
}
.paragraph1
{
    /* Изменяет на тот размер который больше 5 раз корневого элемента */
    font-size: 5rem;
    /* RGBA */
    color:rgba(0, 0, 0, 0.5)
}
.box2
{
    width: 100px;
    height: 100px;
     background-color: #6452BB  /*HEX*/
}
.box3
{
    width: 50%;
    height: 100px;
    background-color: rgb(114, 84, 84);
    color: #ff5733;
}
